@use "@/shared/styles/colors.scss";
@use "@/shared/styles/spacing.scss";

.main {
  width: 100%;
  background-color: colors.color(gray, 100);
  padding: spacing.pxToRem(16);
  flex: 1 1 auto;
  overflow: auto;
}
