@use "@/shared/styles/spacing.scss";
@use "@/shared/styles/typography.scss";
@use "@/shared/styles/breakpoints.scss";
@use "@/shared/styles/colors.scss";

.container {
  width: 100%;
  max-width: fit-content;
  min-width: spacing.pxToRem(72);
  background-color: #fff;
  color: colors.color(gray, 900);
  padding: spacing.pxToRem(16);
  border-radius: spacing.pxToRem(16) spacing.pxToRem(16) spacing.pxToRem(16) 0;
  @include typography.text(regular, md);

  @include breakpoints.media-query-up(sm) {
    @include typography.text(regular, lg);
  }

  &.answer {
    border-radius: spacing.pxToRem(16) 0 spacing.pxToRem(16) spacing.pxToRem(16);
    margin-left: auto;
    background-color: colors.color(brand, 500);
    color: #fff;
  }
}
